body {
  background-color: #222730;
  margin: 0px;
}
.menu {
  margin-top: -5px;
  height: 50px;
  border: 0px;
  background-color: #747a87;
}
.menu_items {
  float: left;
  padding: 16px;
  color: #222730;
  border-right: 0px;
  text-decoration: none;
}
.menu_items:hover {
  color: #222730;
  background-color: #a6a8ad;
  padding-bottom: 13px;
  border-bottom: 3px solid #0b2b77;
}

.Details{
  height: 1220px;
  width:50%;
  position: absolute;
  text-align: left;
  margin-left: 23%;
  margin-top: 30px;
  font-size: 20px;
}
.Title{
  width:  40%;
  border: 2px solid black;
  text-align: center;
  background-color: #1f3d6d;
  color: #c1b4b4;
  margin-left: 30%;
  margin-right: 30%;
}
.DetailsColor{}
.Labels{
  color: #EAD5E1;
}

.Input{
    width: 400px;
}

.button{
  width: 150px;
  color: blue;
}

.footer {
  height: 40px;
  background-color: white;
  margin-top: 1270px;
}

.FooterLeft {
  margin: 7px 15px;
  padding: 2px;
  border-radius: 3px;
  width: 45%;
}
.FooterRight {
  text-align: right;
  margin: 7px 4px;
  padding: 3px;
  width: 50%;
}

.border{
  border-left: 1px solid black;
}

/*After this is the codes repeated in many classes*/

.TextColor{color: #222730;}
.decoration{text-decoration: none;}
.FooterLinksAndTitle{padding: 5px;}
.DetailsANDMenuColor{background-color: #747a87;}
.LeftFloat{float: left;}
.FullWidth{width: 100%;}
.DetailsDivSpace{
  margin-left: 20px;
  margin-top: 20px;
}
