body {
  background-color: #222730;
  margin: 0px;
}
.headerimg {
  width: 100%;
}
.menu {
  margin-top: -5px;
  height: 50px;
  border: 0px;
  background-color: #747a87;
}
.menu_items {
  float: left;
  padding: 16px;
  color: #222730;
  border-right: 0px;
  text-decoration: none;
}
.menu_items:hover {
  color: #222730;
  background-color: #a6a8ad;
  padding-bottom: 13px;
  border-bottom: 3px solid #0b2b77;
}
.search{
  float: right;
  height: 45px;
}
#searchField{
  width: 250px;
  height: 22px;
  border: 2px solid #C2C2C2;
  border-right: none;
	border-radius: 5px 0px 0px 5px;
	padding: 7px;
	outline: none;
  margin-top: 5px;
  float: right;
}
#searchBtn{
  background-color: white;
  background-image: url('images/search.png');
  background-size: 35px 35px;
  width: 40px;
  height: 40px;
  border: 2px solid #C2C2C2;
  border-left: none;
	border-radius: 0px 5px 5px 0px;
  margin-right: 10px;
  margin-top: 5px;
  float: right;
}
.Addmovie {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}
.Add_title{
  margin-bottom: 4px;
  color: #c1b4b4;
}
.Horizontal_Line{
  height: 2px;
  width: 100%;
  background-color: #1f3d6d;
}
.add_movie{
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
.add_movie label{
  display: block;
	margin: 0px 0px 20px 0px;
}
.add_movie label > span{
  width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
  color: #EAD5E1;
}
.add_movie .input_field{
  width: 80%;
	border: 2px solid #C2C2C2;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}
.selectContainer{
  width: 100%;
  text-align: center;
}
#moviesToEdit {
  width: 50%;
	border: 2px solid #C2C2C2;
	border-radius: 3px;
	padding: 7px;
	outline: none;
  margin-bottom: 30px;
  display: inline-block;
}
.thanksContainer{
  width: 100%;
  text-align: center;
}
#thanks {
  width: 50%;
  color: white;
  font-size: 40px;
	border: 2px solid #C2C2C2;
	border-radius: 3px;
	padding: 7px;
	outline: none;
  margin-bottom: 30px;
  display: inline-block;
}
.add_movie .input_field:focus{
  border: 2px solid #1f3d6d;
}
.add_movie input[type=submit]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #1f3d6d;
	color: #fff;
	border-radius: 3px;
}
.add_movie input[type=submit]:hover{
	background: #4d73af;
	color: #fff;
}

.footer {
  height: 40px;
  background-color: white;
  margin-top: 15px;
  width: 100%;
}
.FooterLeft {
  margin: 7px 15px;
  width: 45%;
  float: left;
}
.FooterRight {
  text-align: right;
  margin: 7px 4px;
  padding: 3px;
  width: 50%;
  float: left;
}
.FooterButtons{
  border-left: 1px solid black;
  color: #222730;
  text-decoration: none;
  padding: 5px;
}
.Nonborder{
  color: #222730;
  text-decoration: none;
  padding: 5px;
}
