body {
  background-color: #222730;
  margin: 0px;
}
a {
  text-decoration: none;
}
.menu {
  margin-top: -5px;
  height: 50px;
  border: 0px;
  background-color: #747a87;
}
.menu_items {
  float: left;
  padding: 16px;
  color: #222730;
  border-right: 0px;
  text-decoration: none;
}
.menu_items:hover {
  color: #222730;
  background-color: #a6a8ad;
  padding-bottom: 13px;
  border-bottom: 3px solid #0b2b77;
}
.headerimg {
  width: 100%;
}
.mainlist {
  margin-left: 12%;
  margin-right: 12%;
  width: 76%;
}
.alphapetNav {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px;
  margin-top: 15px;
  text-align: center;
}
ul {
  padding: 0px;
}
.letter {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 3px 4px;
  font-size: 18px;
}
.letter:hover {
  background-color: black;
  color: white;
  border-bottom: 2px solid #0b2b77;
  margin-bottom: -2px;
}
.letterlist {
  border: 2px solid white;
  border-radius: 6px;
  padding: 8px;
  margin: 10px 0px;
  text-align: center;
}
.movieContainer {
  position: relative;
  display: inline-block;
  width: 203px;
  border: 2px solid white;
  border-radius: 7px;
  margin: 12px 10px;
  padding: 4px 8px;
}
.posterContainer {
  width: 203px;
  height: 300px;
}
.nameContainer {
  text-align: center;
  color: white;
}
.Title_Color{
  color: #c1b4b4;
}
.Right_Color{
  /*color: #8277f9;*/
  color: #EAD5E1;
}

.Left_Color{
  color: #EAD5E1;
}
.footer {
  width: 100%;
  height: 40px;
  background-color: white;
}
.footer_first {
  padding-top: 10px;
  color: black;
  text-align: center;
}
.TopSpace{
  margin-top: 20px;
}

.info_title{
  margin-bottom: 4px;
}
.SecondPage{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 50px;
}
